h1 {
  text-align: center;
  color: black;
}

h2 {
  font-size: x-large;
  text-align: center;
  color:white
}

h3 {
  text-align: center;
  padding-top: 10px;
  color: white;
}

h5 {
  text-align: center;
}

body {
  background-image: url(https://hdwallsource.com/img/2014/9/simple-wallpaper-27241-27958-hd-wallpapers.jpg);
  background-size: cover;
}

.sidebar {
  float:left;
  width: 200px;
  height:100%;
  background-color: gray;
  padding-top: 10px;
  margin-right: 15px;
  background-color: cadetblue;
}

.sidebar a {
  text-align: center;
  color: white;
}

ol {
  padding-left: 20px;
  color: white;
}

mark {
  background-color: yellow;
}

span {
  font-style: italic;
}

.row {
  padding-right: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.card-text {
  padding-left: 0px;
}

ul {
  list-style: none;
}

.display-flex {
  padding-left: 20px;
}

.btn {
  box-shadow: 0 9px gray;
  padding-top: 5px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: blue;
}

.btn:active {
  background-color: blue;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.jumbotron {
  background-color: cadetblue;
  margin-bottom: 0px;
  color: lightgray
}

.btn a {
  margin-bottom: 5px;
}