h1 {
  text-align: center;
}

h2 {
  font-size: x-large;
  text-align: center;
}

h3 {
  text-align: center;
  padding-top: 10px;
}

h4 {
  text-align: center;
}

.sidebar {
  float:left;
  width: 200px;
  height:2000px;
  background-color: gray;
  padding-top: 10px;
}

.sidebar a {
  text-align: center;
  color: white;
}

ol {
  padding-left: 20px;
}

mark {
  background-color: yellow;
}
