h1 {
  text-align: center;
}

h2 {
  font-size: x-large;
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.sidebar {
  float:left;
  width: 200px;
  height:2000px;
  background-color: gray;
}

.sidebar a {
  text-align: center;
  color: white;
}

li {
  text-align: left;
}